<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (imgs.length > 0) { %>
                    <div>
                        <% for (let image of imgs) { %>
                            <div>
                                <img src="/<%= image.imageUrl %>" alt="">
                            </div>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Images found!</h1>
                    <% } %>
            </main>
            <%- include('../includes/footer.ejs') %>