<%- include('../includes/head.ejs') %>

<body class="text-center">

    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <div class="row justify-content-center margin">
            <div class="col-md-6">
                <form class="form-block" action="/upload-by-url" method="POST">
                    <div class="card-body">
                        <label for="imageURL">Upload by URL</label>
                        <input type="text" class="form-control" name="imageURL" id="imageURL" required>
                    </div>
                    <button class="btn btn-dark" type="submit">Upload</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center margin">
                <div class="col-md-6">
                <form class="form-block" action="/upload-manualy" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <label for="imageFile">Manual Upload</label>
                        <input type="file" class="form-control-file" name="imageFile" id="imageFile" required>
                    </div>
                    <button class="btn btn-dark" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
    
    <%- include('../includes/footer.ejs') %>